wallet/tls.cert
wallet/p2pfileT.zip
# go.sum
# wallet/go.sum
# go.work
# go.work.sum
wallet/.idea
.idea
wallet/api/api.aar
wallet/api/api-sources.jar
wallet/api/api1.aar
wallet/api/api1-sources.jar
wallet/api/api2.aar
wallet/api/api2-sources.jar
wallet/api.backup.zip
wallet/file
wallet/*_test.go
wallet/api/*_test.go
*.exe
*.exe~
temp.go