gin_config:
    bind: ""
    port: ""
gorm_config:
    mysql:
        host: ""
        port: ""
        username: ""
        password: ""
        dbname: ""
redis:
    host: ""
    port: ""
    username: ""
    password: ""
    db: 0
routers:
    login: false
    file_server: false
    fair_launch: false
    ping: false
api_config:
    lnd:
        host: ""
        port: 0
        tls_cert_path: ""
        macaroon_path: ""
    tapd:
        host: ""
        port: 0
        tls_cert_path: ""
        macaroon_path: ""
    litd:
        host: ""
        port: 0
        tls_cert_path: ""
        macaroon_path: ""
bolt:
    db_path: ""
    db_mode: 0
    db_timeout_second: 0
admin_users:
    - username: ""
      password: ""
