server:
  port: 8080
database:
  driver: mysql
  host: localhost
  port: 3306
  username: root
  password: password
  dbname: dbname
  sslmode: disable
redis:
  host: localhost
  port: 6379
  username: ""
  password: ""
  db: 0
routers:
  login: false
  file_server: false
  fair_launch: true
  ping: false
api_config:
  lnd:
    host: "127.0.0.1"
    port: 10009
    tls_cert_path: ""
    macaroon_path: ""
  tapd:
    host: "127.0.0.1"
    port: 8443
    tls_cert_path: ""
    macaroon_path: ""
  litd:
    host: "127.0.0.1"
    port: 8443
    tls_cert_path: ""
    macaroon_path: ""
bolt:
  db_path: "/root/database/server.db"
  db_mode: 0600
  db_timeout_second: 1
basic_auth:
  -
    username:
    password:
